@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Playball&display=swap");

:root {
  --dark-gray-1: #666666;
  --dark-gray-2: #afafaf;
  --dark-gray-3: #cfcfcf;
  --light-gray-1: #dbdbdb;
  --light-gray-2: #d4d4d4;
  --light-gray-3: #f2f2f2;
  --light-gray-4: #bababa;
  --dark-blue: #126ba5;
  --light-blue-1: #52b6ff;
  --light-blue-2: #379ce4;
  --lime-green: #8fc549;
  --pastel-red: #ff6961;
  --pastel-green: #77dd77;
}

body {
  font-family: "Lexend Deca", sans-serif;
  color: var(--dark-gray-1);
}

a {
  color: var(--light-blue-2);
}
